.App {
  background-image: url("https://wallpapercosmos.com/w/full/c/3/1/1696242-3840x2160-desktop-4k-dodge-durango-wallpaper-photo.jpg");
  background-size: 100% 850px;
  opacity: 0.9;
  background-repeat: no-repeat;
}

.scrolldown{
  display: flex;
  flex-direction: column;
  height: 100px;
}